.container
  .container-fluid
    - Production::DAYS.each_with_index do |day, index|
      .row
        = day
        .col-lg-12
          - productions.select { |p| p.start_day == index }.each do |production|
            = link_to edit_production_path(production) do
              .col-lg-2.production
                .producer
                  - if production.user.present?
                    = production.user.name
                  - else
                    Pusto!
                .timeline
                  .pull-left
                    = "#{production.start_hour}:#{production.start_minute}"
                  .pull-right
                    = "#{production.end_hour}:#{production.end_minute}"
