.container
  - Production::DAYS.each_with_index do |day, index|
    .row
      = day
      - productions.where(start_day: index).each do |production|
        .col-lg-12
          = production.start_hour
          = production.start_minute
          = production.end_hour
          = production.end_minute
