%ul.dropdown-menu
  %li
    = link_to 'Moje wolne terminy', free_spots_path
    = link_to 'Moje realizacje', my_productions_path
    = link_to 'Moje anulowane realizacje', user_annulments_path
    = link_to 'Wolne realizacje', available_productions_path
    = link_to 'Grafik szefa', '/chief/graphic#week'
